# Node
node_modules/
npm-debug.*

# Expo
.expo/
dist/
web-build/

# Native
android/
ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Build outputs
*.apk
*.aab

# Logs & temp
*.log
*.zip
job-logs/

# Environment
.env
